<div class="base">
    <nav class="nav">
        <li routerLink="/dashboard">
            Inicio
        </li>
        <li routerLink="/">
            Tarjetas
        </li>
        <li routerLink="/">
            Operaciones
        </li>
        <li  routerLink="/">
            Beneficios
        </li>
        <li  routerLink="/  ">
            Seguros
        </li>
        <li>
            Inicio
        </li>
        <li>
            Inicio
        </li>
        <li>
            Cerrar sesion
        </li>
    </nav>
</div>