<div class="base">
    <nav class="nav">
        <li *ngFor="let item of menuItems">
            <div class="menu_item" [routerLink]="'/'+item.title">
                <span [ngClass]="item.className">{{item.icon}}</span>
                {{item.title | titlecase}}
            </div>
        </li>
        <li >
            <div class="menu_item" (click)="logout()">
                <span class="material-symbols-outlined">logout</span>
                Cerrar sesión
            </div>
        </li>
    </nav>
</div>