.home_layout {
    height: 100vh;
    display: grid; 
    grid-template-columns: .5fr repeat(3,1fr); 
    grid-template-rows:  auto 1.5fr 1fr; 
    gap: 1rem 1rem; 
    background-color: #dbdbdb;
    grid-template-areas: 
      "sidebar topbar topbar topbar"
      "sidebar main main main"
      "sidebar main main main"; 
  }
  .sidebar {
     grid-area: sidebar; 
     height: 100%;
    
    }
  .topbar { grid-area: topbar; }
  .main { 
    grid-area: main; 
    margin: 1rem 1rem 1rem 0;
}

@media (max-width:600px){
  .home_layout {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: .3fr auto ; 
    gap: 1rem 1rem; 
    background-color: #dbdbdb;
    grid-template-areas: 
      "sidebar "
      "main "
  }
  .sidebar {
     grid-area: sidebar; 
    }
  .main { 
    grid-area: main; 
    margin: 1rem 1rem 1rem 0;
}
}
  