<div class="main_dashboard">
<section class="cards">
    <!-- TODO articles -->
    <app-card [user]="user" [bankAccount]="bankAccount"></app-card>
    <app-monthly-balance-card title="ingresos"/>
    <app-monthly-balance-card title="egresos"/>

</section>
<section class="mid_section">

    <div class="balance_graph">
        <app-balance></app-balance>
    </div>

    <div class="last_transactions">
        <app-last-transactions [user]="user"/>
    </div>
</section>
<section class="table">
    <app-transactions-table></app-transactions-table>
</section>
</div>