<div class="main_dashboard">
<section class="cards">

    <app-card [user]="user" [bankAccount]="bankAccount"></app-card>
    <div class="month_summary">
        <app-monthly-balance-card title="INCOMES"/>
        <app-monthly-balance-card title="EXPENSES"/>

    </div>

</section>
<section class="mid_section">

    <div class="balance_graph">
        <app-balance></app-balance>
    </div>

    <div class="last_transactions">
        <app-last-transactions [user]="user"/>
    </div>
</section>
<!-- TODO -->
<!-- <section class="table">
    <app-transactions-table></app-transactions-table>
</section> -->
</div>