<div class="main_transactions">
    <h2>Ultimas transacciones</h2>
    <div *ngFor="let transaction of transactions" class="transaction_table">
        <div class="transaction_icon">
            <img [src]="icon[transaction.transactionType]" [alt]="transaction.transactionType" width="24">
        </div>
        <div>
            <p>{{transaction.destinationAccount?.fullName}}</p>
            <p>{{transaction.transactionType}}</p>
        </div>
        <div>
            <p>{{transaction.amount | currency}}</p>
        </div>
        <div>
            <p>{{transaction.timestamp | date:'medium'}}</p>
        </div>
        <div>
            <p [style.color]="statusColor[transaction.status]">{{transaction.status}}</p>
        </div>
    </div>

    <div class="paginator">
        <div class="paginator_info">
            <p>Mostrando {{size}} de {{totalElements}}</p>
        </div>
        <div class="paginator_buttons">
            <button (click)="prevPage()" [disabled]="page===0" [class.disabled]="page===0">prev</button>
            <span class="current_page">{{page+1}}</span>
            <button (click)="nextPage()" [disabled]="page===totalPages-1" [class.disabled]="page===totalPages-1">next</button>
        </div>
    </div>
</div>