.main{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #f6fff6;
    color: #141414;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.transaction_table{
    display: grid;
    grid-template-columns: .2fr repeat(4,1fr);
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: .5rem 0;
}

.paginator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    flex-grow: 1;
}
.paginator_info{
    font-size: 1rem;
}
.paginator_buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.paginator_buttons button{
    background-color: transparent;
    color: #1d1d1d;
    border: none;
    padding: .5rem;
}