.main_transactions{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #ffffff;
    color: #141414;
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.transaction_table{
    display: grid;
    grid-template-columns: .2fr repeat(4,1fr);
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-top: 1rem;
}

.paginator{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    margin-top: 1rem;
    flex-grow: 1;
    padding-bottom: 1rem;
}
.paginator_info{
    font-size: 1rem;
}
.paginator_buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.paginator_buttons button{
    cursor: pointer;
    background-color: transparent;
    color: #1d1d1d;
    border: none;
    padding: .5rem;
}

.disabled{
    opacity: .6;
}
img{
    width: 24px;
}
@media (max-width:600px){

    img{
        width:18px
    }
    .main_transactions{
        max-width: 100%;
        margin: auto;
    }

    .transaction_table{
        font-size: .6rem;
        font-weight: bold;
    }
}